@charset "utf-8";/* CSS Document */
/*********CSS reset ***********/
*{margin:0;padding:0;}
ul,li,ol{list-style:none; }
img,a img,input{border:none;margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
em,i,u{font-style:normal;}
a{text-decoration:none; color:#000;}

body{font-size:12px; font-family:arial,'Hiragino Sans GB','Microsoft YaHei','微软雅黑','宋体',sans-serif; color:#676767;line-height:22px; height:100%;width:100%; overflow-y:scroll;behavior:url(css/csshover.htc); }

.know_nav{ width:1200px; height:53px; margin:0 auto; background:#fff; border-bottom:1px solid #1489c9;}
.know_nav p{ margin-left: 64px; width:940px; float:left; padding-left: 48px; background:url(images/book.png) no-repeat left center; height:53px; line-height:53px; color:#666; font-size:14px;}
.know_nav a{ float:left; margin-top: 16px;}
/*konw_content*/
.konw_content{ width:1152px; margin:0 auto; height:auto; overflow:hidden; background:#f7f7f7; padding:14px 0px 44px;}
.top_content,.center_content,.bottom_centent{ float:left;}
.top_content_l,.top_content_c,.top_content_r{ float:left;}
.top_content .top_content_l,.top_content .top_content_r{ width:212px; height:370px;border:1px solid #cfcfcf; /*padding:10px 14px 0 14px;*/ background:#fff; }
.top_content .top_content_l{border-top: 1px solid #1489c9; position:relative;}
.top_content .top_content_l li{ font-size:14px; color:#000; width:212px; float:left; height:50px; }
.top_content .top_content_l li>a{border-bottom:1px solid #cfcfcf;height:49px; line-height:49px;padding-left:48px; width:124px; padding-right:16px; float:left; margin:0 12px;}
/*.top_content .top_content_l li i{ float:left; width:27px; height:27px; margin-right: 5px;}*/
.li_0{ background:url(images/icon2444.png) no-repeat 6px center; }
.li_1{ background:url(images/icon1444.png) no-repeat 6px center;}
.li_2{ background:url(images/icon3444.png) no-repeat 6px center;}
.top_content_c{ margin:0 12px; width:700px; height:360px;}
.top_content_c .search{ float:left; height:62px; width:700px; padding-top: 1px;}
.top_content_c .search .txt{ width:600px; border:1px solid #cfcfcf; height:48px;Line-height:48px; background:url(images/search.png) no-repeat 562px center #fff; float:left; padding-left: 4px;}
.top_content_c .search .btn{ background:#1489c9; color:#fff; height:50px; line-height:50px; font-family:"微软雅黑"; float:left; width:94px; cursor:pointer;}
.top_content .top_content_r{padding:10px 14px 0 14px; width:184px; height:360px;}
.top_content_r .h_n{ margin-top: 2px;*margin-top:18px; text-align:center;  height:116px; border-bottom:1px solid #cfcfcf;padding-bottom: 10px;}
.top_content_r .noborder_bottom{ padding-bottom:0; border-bottom:none;}
.top_content_r .h_n h2{ font-size:21px;font-weight:normal; height:25px; color:#000; }
.top_content_r .h_n h4{ font-weight:normal; font-size:12px; height:24px; color:#666666;}

.top_content_r .upload h5{ font-size:42px; height:68px; line-height:68px; text-align:center; color:#666; font-weight:normal;}
.top_content_r .upload p{ text-align:center; font-size:14px; color:#666; height:31px;}
.top_content_r .upload a.myknow{   letter-spacing: 2px;line-height: 27px;width:184px; height:43px; background:url(images/home_icon_share.png) no-repeat center 18px #e6870a; display:block; color:#fff; text-align:center; font-size:20px; padding-top:94px; margin:0 auto;}
.top_content_r .upload2 a.myknow{ padding-top: 68px;}
.top_content_r .upload2 ul{ border:1px solid #ccc; width:182px; height:74px; margin:11px 0; padding:12px 0;}
.top_content_r .upload2 ul li{ width:90px; float:left; text-align:center;}
.top_content_r .upload2 ul li .up_left{ padding:0 20px; float:left;color:#666;padding-top:7px; border-right:1px solid #ccc;}
.top_content_r .upload2 ul li .up_left span{ font-size:32px; height:36px; display:block;  }
.top_content_r .upload2 ul li .up_left p{ font-size:12px; text-align:center; line-height:14px;}
.top_content_r .upload2 ul li .up_right{ background:url(images/shezhi.png) no-repeat center 5px ; display:block; height:29px; padding-top: 46px; font-size:12px; color:#666;cursor:pointer}
/*center_content*/
.center_content{ margin:14px 0;}
.center_c_l,.center_c_c,.center_c_r{border:1px solid #cfcfcf; float:left; background:#fff; padding:14px;}
.center_content .center_c_l{ width:184px; height:144px;}
.center_content .center_c_c{ width:670px; height:144px; margin:0 12px;}
.center_content .center_c_r{ width:184px; height:144px;}
.center_c_l .title{ border-bottom:1px solid #53a8d7; height:26px;}
.center_c_l .title h3{ font-weight:normal; float:left; font-size:14px; color:#000; width:58px; border-bottom:3px solid #1489c9; height:24px; margin-right: 65px;}
.center_c_l .title span{ float:left; font-size:12px; color:#000;padding-top: 3px;}
.center_c_l ul{padding-top:4px;}
.center_c_l ul li{ float:left; width:184px; height:24px; line-height:24px;*height:21px;*line-height:21px; overflow:hidden;}
.center_c_l ul li a{ float:left; width:166px;padding-right: 18px;}
.center_c_l ul li span{ float:right;}
.center_c_c .title ol{ float:right;} 
.center_c_c .title ol li{ float:left; padding:0 17px;}
.center_c_c ul li{ width:670px;}
.center_c_c ul li a{ width:670px;}
.center_c_c ul li a span{ padding:0 28px;}
.bottom_centent{ margin:0;}
.know_footer{ width:1200px; margin:0 auto; height:34px;  color:#fff; font-size:12px; text-align:center; padding-top: 18px; background:url(images/bottomdot.png) repeat-x left top #1489c9; margin-bottom: 57px;}

/*tab*/
.topmenu>li{background:#fff; }
			.topmenu .lihover{ }
			.topmenu .lihover a{color:#fff;}
			.topmenu .lihover>a.li_0{background:url(images/icon24.png) no-repeat 6px center; }
			.topmenu .lihover>a.li_1{background:url(images/icon14.png) no-repeat 6px center; }
			.topmenu .lihover>a.li_2{background:url(images/icon34.png) no-repeat 6px center;  }
   			.topmenu .lihover .submenu /*悬浮层*/{display: block;} 
   			.submenu{display:none; width: 684px; height:358px; left: 212px; position: absolute; top: -1px; z-index: 4; background:#1489c9; padding:14px 0 0 30px; } 
			.leftdiv{float: left; width:713px;} 
   			.leftdiv dl{display: block;  padding-bottom:27px; overflow: hidden; }
			.leftdiv dl dt{display: block; float: left; width: 121px; text-align: center; height: 27px; line-height: 27px; margin-right: 17px; margin-top:10px; background:#04669c;} 
			.leftdiv dl dt a{color: #fff;  font-size: 12px; cursor:pointer;} 
			
			.leftdiv dl dd{display: block; overflow: hidden;} 
			.leftdiv dl dd a{display: block; float: left; border-left: 1px solid #04669c; color: #fff; font-size: 9pt; width:100px; text-align:center; height: 27px; line-height: 27px; margin: 10px 0; cursor:pointer;} 
			.leftdiv dl dd a:hover{ text-decoration:underline;}
			.blue{ background:#1489c9;}
			.green{ background:#23ad8b;}
			.orange{background:#e6870a;}
			.topmenu li.blue{background:#1489c9;}
			.topmenu li.blue a{ border-bottom:none;}
			.topmenu li.blue .submenu{background:#1489c9; top:-1px;} 
			.topmenu li.blue .leftdiv dl dt{background:#04669c;}
			.topmenu li.blue .leftdiv dl dd a{ border-color:#04669c}
			.topmenu .green{background:#23ad8b;}
			.topmenu li.green a{ border-bottom:none;}
			.topmenu .green .submenu{background:#23ad8b; top:-1px;} 
			.topmenu .green .leftdiv dl dt{ background:#267864;}
			.topmenu li.green .leftdiv dl dd a{ border-color:#267864;}
			.topmenu .orange{background:#e6870a;}
			.topmenu li.orange a{ border-bottom:none;}
			.topmenu .orange .submenu{background:#e6870a; top:-1px;} 
			.topmenu .orange .leftdiv dl dt{ background:#c87800;}
			.topmenu li.orange .leftdiv dl dd a{ border-color:#c87800;}